@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: 'Itim', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Unbounded', sans-serif;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

div,
section,
ul,
li,
a,
span {
    box-sizing: border-box;
}

header {
    background:#382D37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    padding: 20px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo {
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

.logo:hover {
    background-color: black;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px black;
    font-weight: bold;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;

}

#menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;

}

#menu li:hover .li1 {
    background-color: green;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px green;
}

#menu li:hover .li2 {
    background-color: chocolate;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px chocolate;
}

#menu li:hover .li3 {
    background-color: rgb(62, 177, 223);
    font-weight: bold;
    border-radius: 10px;
    color: white;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(62, 177, 223);
}

#menu li:hover .li4 {
    font-weight: bold;
    background-color: teal;
    border-radius: 10px;
    color: white;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px teal;
}

#menu li:hover .li5 {
    background-color: rgb(33, 30, 190);
    font-weight: bold;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

section {
    min-height: 100vh;
    min-width: 100%;
}

#home {
    background: #382D37;
    position: relative;
}

#Education {
    background: #382D37;
}

#Experience {
    background: #382D37;

}

#Projects {
    background: #382D37;
}

#Contact {
    background: #382D37;
}

.boxes {
   display: flex; 
   flex-wrap: wrap;
   padding-top: 130px;
   height:600px;

}
.item{
    margin-top:50px;
    margin-left: 80px;
}
.box1{
    width:60%;
   /* min- height:70vh; */
    color:white;
    font-size:30px;
}
.box2{
    width:40%;
    align-items: center;
    justify-content: center;
}
.box2 img{
    width:60%;
    margin-left:100px;
}
.myimg{
    filter:drop-shadow(5px 5px 10px white)
}
.line-1 {
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 20px;
    white-space: nowrap;
    transform: translateY(30%);
    color: aqua;
    font-size:25px;
    overflow: hidden;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}