* {
  margin: 0;
  padding: 0;
}
div,
section,
ul,
li,
a,
span {
    box-sizing: border-box;
}
nav {
  background-color: #382D37;
  height: 80px;
  width: 100%;
 position: fixed;
  z-index: 100;
}

nav ul {
  float: right;
  margin-right:30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
  padding: 7px 13px;
}

nav ul li {
  line-height: 90px;
  display: inline-block;
  margin: 0 5px;
}
nav li:hover .li1 {
  background-color: #ff9da5;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #ff9da5;
}

nav li:hover .li2 {
  background-color: chocolate;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px chocolate;
}

nav li:hover .li3 {
  background-color: rgb(62, 177, 223);
  font-weight: bold;
  border-radius: 10px;
  color: white;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(62, 177, 223);
}

nav li:hover .li4 {
  font-weight: bold;
  background-color: teal;
  border-radius: 10px;
  color: white;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px teal;
}

nav li:hover .li5 {
  background-color: rgb(33, 30, 190);
  font-weight: bold;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

label.logo a{
  color: white;
  font-size:30px;
  line-height: 80px;
  padding: 0 15px;
  font-weight: bold;
  text-decoration: none;
font-family: cursive;

}

.checkbutton {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.mycheckbox {
  display: none;
}

/* resume button styling */

.button {
	height: 50px;
	padding: 0;
	background: #009578;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-size:18px;
	font-weight: 500;
	cursor: pointer;
    font-family: 'Itim', cursive;
    font-family: 'Outfit', sans-serif;
    font-family: 'Unbounded', sans-serif;  
}

.button:hover {
	background: #008168;
}

.button:active {
	background: #006e58;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 15px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size:20px;
	background: rgba(0, 0, 0, 0.08);
}
section{
 min-width:100% ;
min-height: 100vh;
font-family: cursive;
}
#home{
  background-color: #382D37;
}
.boxes{
 display: flex;
 flex-wrap: wrap; 
 padding-top:85px;
 width: 100%;
}
.box{
  flex: 1;
}
.box-1{
  color: white;
  font-size: 25px;
  padding:80px 0 0 50px;
  overflow: hidden;
}
.box-2{
  text-align: center;
  padding: 20px;
}
.myimg{
  width:68%;
  filter:drop-shadow(5px 5px 10px white);
} 
.line-1 {
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 20px;
  white-space: nowrap;
  transform: translateY(30%);
  color: aqua;
  font-size:31px;
  overflow: hidden;
}   
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
      width: 0;
  }

  to {
      width:19em;
  }
}

@keyframes blinkTextCursor {
  from {
      border-right-color: rgba(255, 255, 255, .75);
  }

  to {
      border-right-color: transparent;
  }
}

  